name: Test
on: 
  push:
  workflow_dispatch:
    inputs:
      branch:
        required: false
        type: string
        default: master
jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [20]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          text: ${{ github.event.inputs.branch }}
          regex: '^[a-zA-Z0-9_/\-]+$'
      - name: Break on invalid branch name
        run: exit 1
        if: ${{ github.event_name == 'workflow_dispatch' && steps.regex-match.outputs && steps.regex-match.outputs.match == '' }}
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn
      - name: Set up @percy/cli from git
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          cd /tmp
          git clone --branch ${{ github.event.inputs.branch }} --depth 1 https://github.com/percy/cli
          cd cli
          PERCY_PACKAGES=`find packages -mindepth 1 -maxdepth 1 -type d | sed -e 's/packages/@percy/g' | tr '\n' ' '`
          git log -1
          yarn
          yarn build
          yarn global:link
          cd ${{ github.workspace }} 
          yarn remove @percy/cli && yarn link `echo $PERCY_PACKAGES`
          npx percy --version
      - run: yarn test:coverage
